<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docx</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="styles_1.css">
</head>
<body>
<center>
    <div class="container">
        <div class="container_inner">
            <h1 style="font-family: 'DynaPuff', cursive; text-align: center"><span style="color:#504141">Pdf </span><span style="color:rgb(0, 0, 0)">to word converter</span> </h1>
        </div>
    <div class="container_inner_1">
   
    <form action="/docx" method="POST">
        <input value={{variable}} id="3" name="filename" type="hidden">
        <button class="btn" style="color: rgb(37, 37, 35); font-weight: bold; font-size: 30px; border: black 2px groove; border-radius: 14px; padding:5px"></i>word file</button>
    </form>
    </div>
    </div>
</center>

</body>
</html>
