<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pdf to Doc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff&display=swap" rel="stylesheet">
</head>
<body>
    <center>
    <div class="container">
        <div class="container_inner">
            <h1 style="font-family: 'DynaPuff', cursive; text-align: center"><span style="color:#504141">Pdf </span><span style="color:rgb(0, 0, 0)">to word converter</span> </h1>
        </div>
        <div class="container_inner_1">
            <form action="/index" method="POST" enctype="multipart/form-data">
                <input type="file" name="filename" style=" border-radius: 10px 10px 10px 10px;color: red; font-weight: bold; font-size: 25px; ">
                <input class="btn" type="submit" value="Upload" style="color: rgb(37, 37, 35); font-weight: bold; font-size: 30px; padding:5px; border: black 2px groove; border-radius: 14px;">
            </form>
        </div>
    </div>
</center>

</body>
</html>
    